# Core Dependencies
streamlit==1.44.1
opencv-python==4.11.0.86
pillow
numpy
pandas
torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.110

# For Streamlit webcam functionality
streamlit-webrtc==0.62.4
aiortc==1.11.0
av==14.3.0

# For image processing / ML
scikit-learn
matplotlib
seaborn
joblib

# Optional: Enhancements / Live Reloading
watchdog
tqdm
